---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Apoie">
  <h1>Apoie o Portal</h1>
  <p>Gostou do nosso trabalho? Considere apoiar para mantermos o site online e atualizado.</p>
</Layout>
