---
import "../styles/global.css";
---

<footer class="footer">
  <div class="container">
    <p>© 2025 Portal Gacha — Todos os direitos reservados.</p>
    <p><a href="/apoie">Apoie nosso projeto ♥</a></p>
  </div>
</footer>
