---
import "../styles/global.css";
---


  <p>Copyright &copy;  {new Date().getFullYear()} Guias, notícias e muito mais sobre o unverso dos jogos gacha.</p>
    <p>Portal Gacha by Mitsumi</p>
    <p>AnimaTronics Union</p>
</footer>
