---
import "../styles/global.css";
---

<header>
  <div class="header-left">
    <a href="/" class="logo">
      <img src="/logo.svg" alt="PortalGacha logo" />
    </a>
    <div class="site-name">
      <span class="light">Portal</span><span class="bold">Gacha</span>
    </div>
  </div>

  <nav class="header-nav">
    <a href="/">INÍCIO</a>
    <a href="/jogos">JOGOS</a>
    <a href="/apoie">APOIE</a>
    <a href="/contato">CONTATO</a>

    <div class="search-container">
      <button id="search-toggle" class="search-button" aria-label="Buscar">
        <img src="/search.svg" alt="Buscar">
      </button>
      <input type="text" id="search-input" placeholder="Buscar...">
    </div>
  </nav>
</header>
