---
import "../styles/global.css";
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Portal Gacha</title>
    <link rel="stylesheet" href="/styles/global.css">
  </head>
