---
import "../styles/global.css";
---

<nav>
  <ul>
    <a href="/">INÍCIO</a></li>
    <a href="/jogos">JOGOS</a></li>
    <a href="/apoie">APOIE</a></li>
    <a href="/contato">CONTATO</a></li>
  </ul>
</nav>
